html,
body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}


/*

  STYLING NAVBAR

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0; right: 0; left: 0;

  background-color: #0C4160;
}

.flex-item {
  padding: 15px;
}

.flex-item a {
  padding: 15px;
  color: #D4F1F4;
}

/*

  STYLING POSTS

*/

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  height: 100%;

  background-color: #738FA7;

  overflow: auto;
}

.post-container {
  width: 50%;

  color: #071330;
  background-color: #C3CEDA;
  border-radius: 10px;
}

.post-container:first-of-type {
  margin-top: 100px;
}

.post-container:last-of-type {
  margin-bottom: 50px;
}

.header-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 10px;
}

.footer-post {
  border-top: 1px  solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 10px;
}

/*

  CHANGE MEMBERSHIP PAGE STYLING.

*/

.membership-change {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #071330;
  background-color: #C3CEDA;
  border-radius: 10px;

  padding: 10px;
}

.membership-change:first-of-type {
  margin-top: 100px;
}

button {
  padding: 15px;
  margin: 5px;

  border: none;

  background-color: #0C4160;
  color:#D4F1F4;

  transition: 0.1s ease-in-out;
}

.membership-change input {
  padding: 10px;
  margin: 5px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*

  POST CREATE STYLING

*/

.post-create {
  margin-top: 100px;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #071330;
  background-color: #C3CEDA;
}

.form-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-post input{
  padding: 10px;
  margin: 5px;
}

.form-post label{
  font-size: 1.2em;
  font-weight: 700;
}

.form-post textarea{
  padding: 10px;
  margin: 5px;
  resize: none;
}

fieldset {
  border: none;
  padding: 10px;
}

#style-fieldset{
  border-top: 1px solid #071330;
}

.delete-container {
  display: flex;
  justify-content: center;

  background-color: rgb(255, 122, 122);

  border: 1px solid #071330;
  border-radius: 10px;
  border-top-left-radius: 0; border-top-right-radius: 0;
}

.delete-container button {
  background-color: rgb(92, 5, 5);
  color: white;
  font-weight: bold;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}