html,
body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}


/*

  STYLING NAVBAR

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #333;
}

.flex-item {
  padding: 15px;
}

.flex-item a {
  padding: 15px;
}
