<nav>
  <div class="flex-item">
    <a href="/">Home</a>
  </div>
  <div class="flex-item">
    <% if(!user) { %> 
        <a href="/log-in">Log in</a>
        <a href="/sign-up">Sign up</a>
    <% } else { %>
        <% if(user.member) { %> 
          <a href="/create">Create post</a>
        <% } %>
        <% if(!user.admin) { %> 
          <a href="/member">Membership</a>
          <a href="/admin">Admin</a>
        <% } %>
        <a href="/logout">Logout</a>
    <% } %>  
  </div>
</nav>
