<nav>
  <div class="flex-item">
    <a href="/">logo</a>
  </div>
  <div class="flex-item">
    <% if(!user) { %> 
        <a href="/log-in">Log in</a>
        <a href="/sign-up">Sign up</a>
    <% } else { %>
        <% if(user.member) { %> 
          <a href="/create">Create post</a>
        <% } %>
        <a href="/member">Update membership</a>
        <a href="/logout">Log out</a>
    <% } %>  
  </div>
</nav>
